<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BA/blob/main/pd_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BA/blob/main/dba.png?raw=true)

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/250px-Pandas_logo.svg.png)

**En este cuaderno comenzaremos a desarrollar los temás más usuales y utilizados del módulo Pandas, pero previo a ello, un breve contenido teórico de lo que es Análisis de Datos...**

## **Breve contenido teórico...**

### ***Fundamentos del análisis de datos...***

***El análisis de datos es un proceso iterativo que implica:***
+ ***la recopilación de los datos,*** 
+ ***la preparación*** 
+ ***el análisis exploratorio de datos (EDA) y*** 
+ ***la obtención de conclusiones***

#### ***Recopilación de los datos...***

***La recopilación de datos es el primer paso natural para cualquier análisis de datos: no podemos analizar datos que no tenemos. En realidad, nuestro análisis puede comenzar incluso antes de que tengamos los datos. Cuando decidimos qué queremos investigar o analizar, tenemos que pensar en qué tipo de datos podemos recopilar que serán útiles para nuestro análisis.***

#### ***Preparación de los datos... Data Wrangling...***

***La preparación de los datos es el proceso de preparar los datos y ponerlos en un formato que se pueda utilizar para el análisis. La desafortunada realidad de los datos es que a menudo están sucios, lo que significa que requieren limpieza (preparación) antes de que puedan usarse.***

***La mayoría de estos problemas de calidad de los datos se pueden remediar, pero algunos no, como por ejemplo cuando los datos se recopilan diariamente y los necesitamos en una resolución por hora. Es nuestra responsabilidad examinar cuidadosamente los datos y manejar cualquier problema para que nuestro análisis no se distorsione.***

***Una vez que hemos realizado una limpieza inicial de los datos, estamos listos para el análisis exploratorio de los datos***

#### ***Análisis exploratorio de los datos...***

***Durante el análisis exploratorio de los datos, utilizamos visualizaciones y estadísticas resumidas para obtener una mejor comprensión de los mismos. Dado que el cerebro humano sobresale en la selección de patrones visuales, la visualización de datos es esencial para cualquier análisis. De hecho, algunas características de los datos solo se pueden observar en una gráfica. Dependiendo de nuestros datos, podemos crear gráficos para ver cómo ha evolucionado una variable de interés a lo largo del tiempo, encontrar valores atípicos, observar distribuciones de variables continuas y discretas, y mucho más...***

#### ***Obtención de conclusiones...***

***Después de haber recopilado los datos para nuestro análisis, haberlos limpiado y realizado un análisis exploratorio de los datos completo, es hora de sacar conclusiones. Aquí es donde resumimos los hallazgos en el análisis exploratorio de los datos y decidimos los próximos pasos:***

+ *¿Notamos algún patrón o relación al visualizar los datos?*
+ *¿Parece que podemos hacer predicciones precisas a partir de nuestros datos?* 
+ *¿Tiene sentido pasar al modelado de los datos?*
+ *¿Deberíamos manejar los datos faltantes? ¿Cómo?*
+ *¿Cómo se distribuyen los datos?*
+ *¿Los datos nos ayudan a responder a las preguntas que tenemos o nos dan una idea del problema que estamos investigando?*
+ *¿Necesitamos recopilar datos nuevos o adicionales?*

### ***Fundamentos estadísticos...***

***Cuando queremos hacer observaciones sobre los datos que estamos analizando, a menudo, si no siempre, se recurre a las estadísticas de alguna manera. Los datos que tenemos se conocen como la muestra, que se observó a partir de (y es un subconjunto de) la población.***

***Dos grandes categorías de estadísticas son:*** 

+ Las estadísticas descriptivas.
+ Las estadísticas inferenciales. 

***Con la estadística descriptiva, como su nombre lo indica, estamos buscando describir la muestra. La estadística inferencial implica el uso de las estadísticas de la muestra para inferir, o deducir, algo sobre la población, como la distribución subyacente...***

***Por lo tanto, las estadísticas de las muestras se utilizan como estimadores de los parámetros de la población, lo que significa que tenemos que cuantificar su sesgo y varianza. Hay una multitud de métodos para esto; algunos harán suposiciones sobre la forma de la distribución (paramétrica) y otros no (no paramétrica)***

## **Ahora si, arrancando con Pandas...**

https://pandas.pydata.org/docs/user_guide/index.html

### **Carga de módulos necesarios**

In [1]:
import pandas as pd
import numpy as np

### **Estructuras de datos**

**Para comprender las estructuras de datos de Pandas, primero debemos echar un vistazo a NumPy...**

***Numpy incorpora una nueva clase de objetos llamados arrays que permite representar colecciones de datos de un mismo tipo en varias dimensiones, y funciones muy eficientes para su manipulación, así tendremos arrays de una dimensión, de dos dimensiones y de tres dimensiones***

#### **Array de una dimensión**

***Para una lista de valores se crea un array de una dimensión, también conocido como vector en Numpy..., en Pandas esto es una Serie, estructura de datos de una dimensión...***

![Captura de Pantalla 2021-07-30 a la(s) 16.54.13.png]()

#### **Array de dos dimensiones**

***Para una lista de listas de valores se crea un array de dos dimensiones, también conocido como matriz en Numpy..., en Pandas esto es un DataFrame, estructura de datos de dos dimensiones...***

![Captura de Pantalla 2021-07-30 a la(s) 16.54.22.png]()

#### **Array de tres dimensiones**

***Para una lista de listas de listas de valores se crea un array de tres dimensiones, también conocido como cubo en Numpy..., en Pandas esto se conoce como Panel de Datos, estructura de datos de tres dimensiones, la que da el nombre al módulo Pandas...***

![Captura de Pantalla 2021-07-30 a la(s) 16.54.30.png]()

### **Obtención de datos**

**En esta oportunidad vamos a obtener datos de un CSV sin profundizar en ello, para poder desarrollar los primeros temas de Pandas. Oportunamente se desarrollaran con profundidad las distintas opciones para obtener datos...**

In [2]:
datos = "https://raw.githubusercontent.com/cristiandarioortegayubro/BA/main/Datasets/Analisis_de_Facturas_de_Venta.csv"

In [3]:
df = pd.read_csv(datos) # DataFrame
s = df.CANTIDAD # Serie

### **Series**

Una serie es una matriz etiquetada unidimensional capaz de contener cualquier tipo de datos (enteros, decimales, cadenas de caracteres, etc.) pero la serie que se defina tiene el mismo tipo de dato en su contenido.

#### **Atributos de las Series (Propiedades)...**

##### **Tipo de datos de la serie**

In [4]:
s

0      50.0
1       1.0
2      30.0
3      30.0
4      50.0
       ...
154     5.0
155     8.0
156     8.0
157    10.0
158     8.0
Name: CANTIDAD, Length: 159, dtype: float64

In [5]:
s.dtype

dtype('float64')

##### **Index de la serie**

In [6]:
s.index

RangeIndex(start=0, stop=159, step=1)

##### **Cantidad de elementos de la serie**

In [7]:
s.shape

(159,)

##### **Tamaño de la serie**

In [8]:
s.size

159

**¿Tiene la serie valores nulos?**

In [9]:
s.hasnans

False

##### **¿Tiene la serie valores únicos?**

In [10]:
s.is_unique

False

##### **Nombre de la serie**

In [11]:
s.name

'CANTIDAD'

In [12]:
print(s.name)

CANTIDAD

##### **Dimensión de la serie**

In [13]:
s.ndim

1

#### **Funciones**

##### **Contando los elementos de la serie**

In [14]:
s.count()

159

##### **Valor mínimo y valor máximo de la serie**

In [15]:
s.min()

1.0

In [16]:
s.max()

60.0

##### **Suma y suma acumulada de la serie**

In [17]:
s.sum()

1174.0

In [18]:
s.cumsum()

0        50.0
1        51.0
2        81.0
3       111.0
4       161.0
        ...
154    1140.0
155    1148.0
156    1156.0
157    1166.0
158    1174.0
Name: CANTIDAD, Length: 159, dtype: float64

##### **Media, mediana y desviación estándar**

In [19]:
s.mean()

7.383647798742138

In [20]:
s.median()

1.0

In [21]:
s.std()

11.455913702592428

##### **Resúmen de estadística descriptiva**

In [22]:
s.describe()

count    159.000000
mean       7.383648
std       11.455914
min        1.000000
25%        1.000000
50%        1.000000
75%       10.000000
max       60.000000
Name: CANTIDAD, dtype: float64

In [23]:
round(s.describe(),2)

count    159.00
mean       7.38
std       11.46
min        1.00
25%        1.00
50%        1.00
75%       10.00
max       60.00
Name: CANTIDAD, dtype: float64

##### **Ordenando valores de la serie**

In [24]:
s.sort_values()

79      1.0
78      1.0
77      1.0
76      1.0
117     1.0
       ...
51     48.0
17     50.0
4      50.0
0      50.0
6      60.0
Name: CANTIDAD, Length: 159, dtype: float64

##### **Ordenando valores del index de la serie**

In [25]:
s.sort_index()

0      50.0
1       1.0
2      30.0
3      30.0
4      50.0
       ...
154     5.0
155     8.0
156     8.0
157    10.0
158     8.0
Name: CANTIDAD, Length: 159, dtype: float64

### **DataFrames**

#### **Atributos del DataFrame (Propiedades)...**

##### **Tipo de datos del DataFrame**

In [26]:
df

,DOCUMENTO,ORGANIZACION,FECHA,TIPOFACTURA,PRODUCTO,CANTIDAD,PRECIO,IMPORTEMONTRANSACCION,MONEDA
0,B-0001-00000102,Etigand S.A.,27/12/19,Factura,Consultoria Web,50.0,5785.1240,289256.20,Pesos Argentinos
1,B-0001-00000101,Javier Moroni,21/12/19,Factura,Honorarios,1.0,99586.7769,99586.78,Pesos Argentinos
2,A-0001-00000231,Amazon Group,10/12/19,Factura,Parlantes para PC,30.0,1990.0000,59700.00,Pesos Argentinos
3,A-0001-00000230,Amazon Group,6/12/19,Factura,Mercaderia de Reventa,30.0,10358.0000,310740.00,Pesos Argentinos
4,A-0001-00000229,Manganello S.R.L,20/11/19,Factura,Consultoria Web,50.0,6300.0000,315000.00,Pesos Argentinos
...,...,...,...,...,...,...,...,...,...
154,A-0001-00000128,Hernandez S.A.,31/1/18,Factura,Dise–o Web,5.0,6300.0000,31500.00,Pesos Argentinos
155,B-0001-00000069,Etigand S.A.,25/1/18,Factura,Impresora Multifuncion,8.0,3553.7190,28429.75,Pesos Argentinos
156,B-0001-00000069,Etigand S.A.,25/1/18,Factura,Monitores,8.0,3305.7851,26446.28,Pesos Argentinos
157,B-0001-00000068,Ferrari Hnos S.A.,1/1/18,Factura,Impresora Multifuncion,10.0,3553.7190,35537.19,Pesos Argentinos
158,B-0001-00000068,Ferrari Hnos S.A.,1/1/18,Factura,Monitores,8.0,3305.7851,26446.28,Pesos Argentinos

In [27]:
df.dtypes

DOCUMENTO                 object
ORGANIZACION              object
FECHA                     object
TIPOFACTURA               object
PRODUCTO                  object
CANTIDAD                 float64
PRECIO                   float64
IMPORTEMONTRANSACCION    float64
MONEDA                    object
dtype: object

##### **Index y columnas del DataFrame**

In [28]:
df.index

RangeIndex(start=0, stop=159, step=1)

In [29]:
df.columns

Index(['DOCUMENTO', 'ORGANIZACION', 'FECHA', 'TIPOFACTURA', 'PRODUCTO',
       'CANTIDAD', 'PRECIO', 'IMPORTEMONTRANSACCION', 'MONEDA'],
      dtype='object')

##### **Cantidad de elementos del DataFrame**

In [30]:
df.shape

(159, 9)

##### **Tamaño del DataFrame**

In [31]:
df.size

1431

##### **Dimensión del DataFrame**

In [32]:
df.ndim

2

#### **Funciones**

##### **Visualización del DataFrame.**

In [33]:
df

,DOCUMENTO,ORGANIZACION,FECHA,TIPOFACTURA,PRODUCTO,CANTIDAD,PRECIO,IMPORTEMONTRANSACCION,MONEDA
0,B-0001-00000102,Etigand S.A.,27/12/19,Factura,Consultoria Web,50.0,5785.1240,289256.20,Pesos Argentinos
1,B-0001-00000101,Javier Moroni,21/12/19,Factura,Honorarios,1.0,99586.7769,99586.78,Pesos Argentinos
2,A-0001-00000231,Amazon Group,10/12/19,Factura,Parlantes para PC,30.0,1990.0000,59700.00,Pesos Argentinos
3,A-0001-00000230,Amazon Group,6/12/19,Factura,Mercaderia de Reventa,30.0,10358.0000,310740.00,Pesos Argentinos
4,A-0001-00000229,Manganello S.R.L,20/11/19,Factura,Consultoria Web,50.0,6300.0000,315000.00,Pesos Argentinos
...,...,...,...,...,...,...,...,...,...
154,A-0001-00000128,Hernandez S.A.,31/1/18,Factura,Dise–o Web,5.0,6300.0000,31500.00,Pesos Argentinos
155,B-0001-00000069,Etigand S.A.,25/1/18,Factura,Impresora Multifuncion,8.0,3553.7190,28429.75,Pesos Argentinos
156,B-0001-00000069,Etigand S.A.,25/1/18,Factura,Monitores,8.0,3305.7851,26446.28,Pesos Argentinos
157,B-0001-00000068,Ferrari Hnos S.A.,1/1/18,Factura,Impresora Multifuncion,10.0,3553.7190,35537.19,Pesos Argentinos
158,B-0001-00000068,Ferrari Hnos S.A.,1/1/18,Factura,Monitores,8.0,3305.7851,26446.28,Pesos Argentinos

**Para visualizar las primeras cinco filas...** ***por defecto siempre son las primeros cinco filas, pero puede seleccionarse la cantidad de filas que se quiera...***

In [34]:
df.head()

,DOCUMENTO,ORGANIZACION,FECHA,TIPOFACTURA,PRODUCTO,CANTIDAD,PRECIO,IMPORTEMONTRANSACCION,MONEDA
0,B-0001-00000102,Etigand S.A.,27/12/19,Factura,Consultoria Web,50.0,5785.1240,289256.20,Pesos Argentinos
1,B-0001-00000101,Javier Moroni,21/12/19,Factura,Honorarios,1.0,99586.7769,99586.78,Pesos Argentinos
2,A-0001-00000231,Amazon Group,10/12/19,Factura,Parlantes para PC,30.0,1990.0000,59700.00,Pesos Argentinos
3,A-0001-00000230,Amazon Group,6/12/19,Factura,Mercaderia de Reventa,30.0,10358.0000,310740.00,Pesos Argentinos
4,A-0001-00000229,Manganello S.R.L,20/11/19,Factura,Consultoria Web,50.0,6300.0000,315000.00,Pesos Argentinos

In [35]:
df.head(9)

,DOCUMENTO,ORGANIZACION,FECHA,TIPOFACTURA,PRODUCTO,CANTIDAD,PRECIO,IMPORTEMONTRANSACCION,MONEDA
0,B-0001-00000102,Etigand S.A.,27/12/19,Factura,Consultoria Web,50.0,5785.1240,289256.20,Pesos Argentinos
1,B-0001-00000101,Javier Moroni,21/12/19,Factura,Honorarios,1.0,99586.7769,99586.78,Pesos Argentinos
2,A-0001-00000231,Amazon Group,10/12/19,Factura,Parlantes para PC,30.0,1990.0000,59700.00,Pesos Argentinos
3,A-0001-00000230,Amazon Group,6/12/19,Factura,Mercaderia de Reventa,30.0,10358.0000,310740.00,Pesos Argentinos
4,A-0001-00000229,Manganello S.R.L,20/11/19,Factura,Consultoria Web,50.0,6300.0000,315000.00,Pesos Argentinos
5,A-0001-00000228,Galardon S.A.,17/11/19,Factura,Impresora Multifuncion,23.0,10209.0000,234807.00,Pesos Argentinos
6,A-0001-00000227,Klarkson,2/11/19,Factura,Cable RGB para video,60.0,1030.5000,61830.00,Pesos Argentinos
7,A-0001-00000226,Juan Fernández,15/10/19,Factura,Mercaderia de Reventa,30.0,12354.0000,370620.00,Pesos Argentinos
8,A-0001-00000225,Horizonte S.A.,2/10/19,Factura,Insumos oficina,30.0,7785.0000,233550.00,Pesos Argentinos

**Para visualizar las últimas cinco filas...** ***por defecto siempre son las últimas cinco filas, pero puede seleccionarse la cantidad de filas que se quiera...***

In [36]:
df.tail()

,DOCUMENTO,ORGANIZACION,FECHA,TIPOFACTURA,PRODUCTO,CANTIDAD,PRECIO,IMPORTEMONTRANSACCION,MONEDA
154,A-0001-00000128,Hernandez S.A.,31/1/18,Factura,Dise–o Web,5.0,6300.0000,31500.00,Pesos Argentinos
155,B-0001-00000069,Etigand S.A.,25/1/18,Factura,Impresora Multifuncion,8.0,3553.7190,28429.75,Pesos Argentinos
156,B-0001-00000069,Etigand S.A.,25/1/18,Factura,Monitores,8.0,3305.7851,26446.28,Pesos Argentinos
157,B-0001-00000068,Ferrari Hnos S.A.,1/1/18,Factura,Impresora Multifuncion,10.0,3553.7190,35537.19,Pesos Argentinos
158,B-0001-00000068,Ferrari Hnos S.A.,1/1/18,Factura,Monitores,8.0,3305.7851,26446.28,Pesos Argentinos

In [37]:
df.tail(8)

,DOCUMENTO,ORGANIZACION,FECHA,TIPOFACTURA,PRODUCTO,CANTIDAD,PRECIO,IMPORTEMONTRANSACCION,MONEDA
151,A-0001-00000130,Horizonte S.A.,15/2/18,Factura,Consultoria Web,1.0,25800.0000,25800.00,Pesos Argentinos
152,B-0001-00000070,Etigand S.A.,10/2/18,Factura,Consultoria Digital,1.0,2500.0000,2500.00,Pesos Argentinos
153,A-0001-00000129,Berker S.R.L,2/2/18,Factura,Dise–o Web,5.0,6300.0000,31500.00,Pesos Argentinos
154,A-0001-00000128,Hernandez S.A.,31/1/18,Factura,Dise–o Web,5.0,6300.0000,31500.00,Pesos Argentinos
155,B-0001-00000069,Etigand S.A.,25/1/18,Factura,Impresora Multifuncion,8.0,3553.7190,28429.75,Pesos Argentinos
156,B-0001-00000069,Etigand S.A.,25/1/18,Factura,Monitores,8.0,3305.7851,26446.28,Pesos Argentinos
157,B-0001-00000068,Ferrari Hnos S.A.,1/1/18,Factura,Impresora Multifuncion,10.0,3553.7190,35537.19,Pesos Argentinos
158,B-0001-00000068,Ferrari Hnos S.A.,1/1/18,Factura,Monitores,8.0,3305.7851,26446.28,Pesos Argentinos

##### **Información del DataFrame**

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DOCUMENTO              159 non-null    object
 1   ORGANIZACION           159 non-null    object
 2   FECHA                  159 non-null    object
 3   TIPOFACTURA            159 non-null    object
 4   PRODUCTO               159 non-null    object
 5   CANTIDAD               159 non-null    float64
 6   PRECIO                 159 non-null    float64
 7   IMPORTEMONTRANSACCION  159 non-null    float64
 8   MONEDA                 159 non-null    object
dtypes: float64(3), object(6)
memory usage: 11.3+ KB

##### **Valor mínimo y valor máximo del DataFrame**

In [39]:
df.min()

DOCUMENTO                     A-0001-00000128
ORGANIZACION                     Amazon Group
FECHA                                  1/1/18
TIPOFACTURA                           Factura
PRODUCTO                 Cable RGB para video
CANTIDAD                                  1.0
PRECIO                                107.438
IMPORTEMONTRANSACCION                  123.97
MONEDA                                Dólares
dtype: object

In [40]:
df.max()

DOCUMENTO                                                  B-0001-00000102
ORGANIZACION                                              Valeria Welponer
FECHA                                                               9/9/18
TIPOFACTURA                                                        Factura
PRODUCTO                 Televisor Led Samsung 32  Hd Con Soporte Y Con...
CANTIDAD                                                              60.0
PRECIO                                                            165980.0
IMPORTEMONTRANSACCION                                             370620.0
MONEDA                                                    Pesos Argentinos
dtype: object

***Podemos observar que, como el tipo de datos de la fecha no es el que corresponde, en el cálculo del mínimo y del máximo se toma el valor del caracter, en vez de la fecha...***

In [41]:
df["FECHA"] = pd.to_datetime(df.FECHA, infer_datetime_format=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DOCUMENTO              159 non-null    object
 1   ORGANIZACION           159 non-null    object
 2   FECHA                  159 non-null    datetime64[ns]
 3   TIPOFACTURA            159 non-null    object
 4   PRODUCTO               159 non-null    object
 5   CANTIDAD               159 non-null    float64
 6   PRECIO                 159 non-null    float64
 7   IMPORTEMONTRANSACCION  159 non-null    float64
 8   MONEDA                 159 non-null    object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 11.3+ KB

***Ahora si se puede observar que el tipo de dato para FECHA es el que corresponde, por lo que consultar los minimos y maximos del DataFrame arrojará bien los resultados...***

In [43]:
df.min()

DOCUMENTO                     A-0001-00000128
ORGANIZACION                     Amazon Group
FECHA                     2018-01-01 00:00:00
TIPOFACTURA                           Factura
PRODUCTO                 Cable RGB para video
CANTIDAD                                  1.0
PRECIO                                107.438
IMPORTEMONTRANSACCION                  123.97
MONEDA                                Dólares
dtype: object

In [44]:
df.max()

DOCUMENTO                                                  B-0001-00000102
ORGANIZACION                                              Valeria Welponer
FECHA                                                  2019-12-27 00:00:00
TIPOFACTURA                                                        Factura
PRODUCTO                 Televisor Led Samsung 32  Hd Con Soporte Y Con...
CANTIDAD                                                              60.0
PRECIO                                                            165980.0
IMPORTEMONTRANSACCION                                             370620.0
MONEDA                                                    Pesos Argentinos
dtype: object

##### **Resúmen de estadística descriptiva**

***En principio, y por defecto, este resumen descriptivo se hace sobre las columnas que tienen tipo de dato numérico, pero tambien se puede generar un resúmen con otro tipo de datos...***

In [45]:
df.describe()

         CANTIDAD         PRECIO  IMPORTEMONTRANSACCION
count  159.000000     159.000000             159.000000
mean     7.383648   24021.195378           58406.882767
std     11.455914   30051.944155           73240.581780
min      1.000000     107.438000             123.970000
25%      1.000000    3500.000000           14525.000000
50%      1.000000   12000.000000           31404.960000
75%     10.000000   32249.500000           71570.250000
max     60.000000  165980.000000          370620.000000

In [47]:
round(df.describe(),2)

       CANTIDAD     PRECIO  IMPORTEMONTRANSACCION
count    159.00     159.00                 159.00
mean       7.38   24021.20               58406.88
std       11.46   30051.94               73240.58
min        1.00     107.44                 123.97
25%        1.00    3500.00               14525.00
50%        1.00   12000.00               31404.96
75%       10.00   32249.50               71570.25
max       60.00  165980.00              370620.00

In [46]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CANTIDAD,159.0,7.383648,11.455914,1.000,1.0,1.00,10.00,60.0
PRECIO,159.0,24021.195378,30051.944155,107.438,3500.0,12000.00,32249.50,165980.0
IMPORTEMONTRANSACCION,159.0,58406.882767,73240.581780,123.970,14525.0,31404.96,71570.25,370620.0

In [48]:
round(df.describe(),2).T

,count,mean,std,min,25%,50%,75%,max
CANTIDAD,159.0,7.38,11.46,1.00,1.0,1.00,10.00,60.0
PRECIO,159.0,24021.20,30051.94,107.44,3500.0,12000.00,32249.50,165980.0
IMPORTEMONTRANSACCION,159.0,58406.88,73240.58,123.97,14525.0,31404.96,71570.25,370620.0

***Ahora seleccionamos el tipo de dato object para hacer un resumen descriptivo...***

In [49]:
df.select_dtypes(include=["object"]).describe().T

             count unique                         top freq
DOCUMENTO      159    138             A-0001-00000203    3
ORGANIZACION   159     20  Nicolasen y Asociados S.A.   18
TIPOFACTURA    159      1                     Factura  159
PRODUCTO       159     23             Consultoria Web   30
MONEDA         159      2            Pesos Argentinos  157

**Hemos llegado al fin de este cuaderno, felicitaciones nos estamos iniciando en Pandas, viendo sus estructuras de datos, algunos atributos y funciones que usaremos, ahora a seguir en el proximo cuaderno...**

![nenunenu](https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/60/apple/124/smiling-face-with-smiling-eyes_1f60a.png)