<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BA/blob/main/rg_ej_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BA/blob/main/dba.png?raw=true)

# **Practico Nº 1 Regresion Lineal Simple**

**Se propone ver la relación existente entre el número medio de habitaciones de un conjunto de viviendas en Boston y su valor medio. Para ello, en virtud del modelo desarrollado en la introducción, deberá desarrollar la consigna propuesta...**

# **Introducción**

## **Carga de librerías necesarias**

In [1]:
import pandas as pd 
import numpy as np
import sklearn 
import sklearn.metrics as metrics 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import datasets
from sklearn import linear_model
from math import sqrt
import plotly.express as px

## **Obtención de los Datos**

### **Extracción de Datos - Creación del DataFrame**

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/cristiandarioortegayubro/BA/main/Datasets/SaratogaHouses.csv", index_col=0)

In [3]:
df.head(3)

,precio,metros_totales,antiguedad,precio_terreno,metros_habitables,universitarios,dormitorios,baños,habitaciones,calefaccion,consumo_calefacion,desague,vistas_lago,nueva_construccion,aire_acondicionado
0,132500,0.09,42,50000,906,35,2,1.0,5,electric,electric,septic,No,No,No
1,181115,0.92,0,22300,1953,51,3,2.5,6,hot water/steam,gas,septic,No,No,No
2,109000,0.19,133,7300,1944,51,4,1.0,8,hot water/steam,gas,public/commercial,No,No,No

### Selección de características

In [4]:
y = df["precio"]

In [5]:
X = df[["metros_habitables"]]

## **División del dataframe**

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size = 0.2, 
                                                    random_state = 123)

## **Modelo Regresión Lineal Simple**

In [7]:
lr = linear_model.LinearRegression()

In [8]:
lr.fit(X_train, y_train)

LinearRegression()

In [9]:
y_pred_lr = lr.predict(X_test)

## **Metricas**

In [10]:
from sklearn.metrics import mean_squared_error
from math import sqrt

### Error de la media de los cuadrados - MSE

In [11]:
sqrt(mean_squared_error(y_test, y_pred_lr))

84761.38058788743

Los valores más bajos del MSE indican un mejor ajuste en el modelo de regresión.

### Error de la media absoluta - MAE

In [12]:
metrics.median_absolute_error(y_test, y_pred_lr)

33859.368628971904

Promedio de la diferencia absoluta entre el valor observado y el valor resultante de la predicción

### Coeficiente de determinación ($R^2$)

In [13]:
metrics.r2_score(y_test, y_pred_lr)

0.4044249603027318

Cuanto más cerca de 1 se sitúe su valor, mayor será el ajuste del modelo a la variable que se está intentando predecir. De forma inversa, cuanto más cerca de 0 se en

# **Consigna**

**Cambiar la variable independiente con el objetivo de lograr mejores métricas... por lo menos MSE y $R^2$**