<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BA/blob/main/tf_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BA/blob/main/dba.png?raw=true)

# **Trabajo Final - Módulo 10 - Aprendizaje Automático - Machine Learning - Regresión**

![logo](https://www.python.org/static/community_logos/python-powered-w-100x40.png)

~~~
Colocar Apellido y Nombre (reemplazar esta línea)
~~~

# **Aclaraciones previas**



*   En cada celda se indica lo solicitado.
*   Se pueden generar la cantidad de scripts necesarios.
*   Puede explicar insertando celdas de texto.
*   Para graficar se puede utilizar cualquier librería.
*   Al finalizar, descargar el archivo y entregarlo por el campus.
*   Al finalizar se debería borrar esta celda.

**En virtud del DataFrame propuesto, generar un modelo de regresión para predecir el precio de viviendas de Argentina:**

- **l1** - país
- **l2** - provincia o ciudad
- **l3** - barrio
- **rooms** - cantidad de habitaciones
- **bedrooms** - cantidad de dormitorios
- **bathrooms** - cantidad de baños
- **surface_total** - superficie total
- **surface_covered** - superficie cubierta
- **price** - precio

# **Carga de módulos y datos necesarios**

In [1]:
import pandas as pd

# **Creación del DataFrame**

In [2]:
url="https://raw.githubusercontent.com/cristiandarioortegayubro/BA/main/Datasets/"
archivo="propiedades.csv"
regresion = pd.read_csv(url+archivo, index_col=0)

In [3]:
regresion.head()

,id,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price
0,0,Argentina,Capital Federal,Palermo,2.0,1.0,1.0,80.0,NaN,235000
1,1,Argentina,Capital Federal,Belgrano,NaN,NaN,1.0,NaN,40.0,105000
2,2,Argentina,Capital Federal,San Telmo,1.0,NaN,1.0,34.0,31.0,109183
3,3,Argentina,Capital Federal,Villa Urquiza,2.0,NaN,1.0,NaN,51.0,110000
4,4,Argentina,Capital Federal,Belgrano,6.0,4.0,2.0,190.0,178.0,550000

# **Generación del modelo de regresión**

# **Conclusiones**